mixin heading(level=2,)
  case level
    when 1: h1.component-heading
      block
    when 2: h2.component-heading
      block
    when 3: h3.component-heading
      block
    when 4: h4.component-heading
      block
    when 5: h5.component-heading
      block
    when 6: h6.component-heading
      block
    default: h2.component-heading
      block
