mixin snippet(code='')
  .component-snippet
    .component-snippet__navigation
    .component-snippet__panels
      .component-snippet__panel.is-sample
        block
      .component-snippet__panel.is-code
