@use './settings';
@use './utilities' as *;

// Default

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-jp-sans);
  font-size: clamp(
    var(--root-font-size-min-value),
    var(--root-font-size-value),
    var(--root-font-size-max-value)
  );
  line-height: var(--root-line-height);
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

img, svg {
  display: block;
  height: auto;
  width: auto;
}

button {
  cursor: pointer;
}

code {
  font-family: var(--font-family-monospace);
}

:focus {
  outline: 1px dotted #999;
}
