@use './settings';
@use './utilities' as *;
@use './placeholders';

$screen-width-md: 768px;

:root {
  --header-height: 4rem;
}

.global-wrapper {
  display: grid;
  gap: 0;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  margin: 0 auto;
  max-width: var(--screen-max-width);
  min-height: 100vh;
  min-width: var(--screen-min-width);
}

// Header

.global-header {
  align-items: center;
  background-color: var(--header-bg-color, var(--bg-color));
  box-sizing: border-box;
  color: var(--header-text-color, var(--text-color));
  display: flex;
  height: var(--header-height);
  left: 0;
  margin: var(--header-margin, 0 auto);
  max-width: var(--screen-max-width);
  min-width: var(--screen-min-width);
  padding: var(--header-padding, 0 0 0 var(--layout-padding-x));
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--header-z-index, 100);
  .is-header-navigation-toggle & {
    @include over($screen-width-md) {
      padding: var(--header-padding, 0 var(--layout-padding-x));
    }
  }
  .is-header-position-sticky & {
    position: sticky;
  }
  .is-header-position-fixed & {
    position: fixed;
  }
  &__stack {
    align-items: var(--header-stack-align, center);
    box-sizing: border-box;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: var(--header-stack-max-width, var(--screen-width-xl));
    position: relative;
  }
  &__logo {
    flex: 0 0 auto;
    margin: 0;
    padding: var(--header-logo-padding, 0);
    position: relative;
    z-index: var(--header-logo-z-index, 10001);
    a {
      color: inherit;
      display: block;
    }
    svg {
      fill: var(--header-logo-color, currentColor);
    }
    svg, img {
      display: block;
      height: var(--header-logo-height, 1rem);
      width: var(--header-logo-width, auto);
    }
  }
  &__navigation {
    flex: 1 1 auto;
    font-feature-settings: "palt";
    margin: var(--header-navigation-margin, 0 3rem);
    padding: var(--header-navigation-padding, 1rem 0);
    .is-header-navigation-toggle & {
      display: none;
      @include over($screen-width-md) {
        display: block;
      }
    }
  }
  &__drawer {
    align-items: center;
    background-color: var(--header-drawer-bg-color, transparent);
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: var(--header-drawer-text-color, inherit);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: var(--header-drawer-font-family, inherit);
    font-feature-settings: "palt";
    font-size: inherit;
    height: var(--header-height, 3rem);
    justify-content: center;
    margin: var(--header-drawer-margin, 0 0 0 auto);
    padding: var(--header-drawer-padding, 0);
    width: var(--header-drawer-width, 4rem);
    z-index: var(--header-drawer-z-index, 10001);
    .is-header-navigation-toggle & {
      @include over($screen-width-md) {
        display: none;
      }
    }
    &__icon {
      display: block;
      height: var(--header-drawer-icon-height, calc(var(--header-height) / 2.5));
      margin: 0 auto .25rem;
      position: relative;
      width: var(--header-drawer-icon-width, calc(var(--header-height) / 2.5));
      &::before, &::after {
        background: currentColor;
        content: "";
        display: block;
        height: calc(1 * var(--rem-px, .0625));
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        transition: transform .35s ease-out 0s;
        width: 100%;
      }
      &::before {
        transform: rotate(0deg) translate3d(0, calc(-.25rem - 50%), 0);
        .is-header-navigation-toggle [aria-expanded=true] & {
          transform: rotate(-225deg) translate3d(0, -50%, 0);
        }
      }
      &::after {
        transform: rotate(0deg) translate3d(0, calc(.25rem - 50%), 0);
        .is-header-navigation-toggle [aria-expanded=true] & {
          transform: rotate(225deg) translate3d(0, -50%, 0);
        }
      }
    }
    &__text {
      font-feature-settings: "palt";
      font-size: var(--header-drawer-font-size, var(--font-size-xs));
      line-height: 1;
      &__open {
        display: block;
        .is-header-navigation-toggle [aria-expanded=true] & {
          display: none;
        }
      }
      &__close {
        display: none;
        .is-header-navigation-toggle [aria-expanded=true] & {
          display: block;
        }
      }
    }
  }
}

// Header navigation

.header-navigation {
  display: flex;
  font-family: var(--navigation-font-family, var(--font-family-default));
  font-size: var(--navigation-font-size, var(--font-size-sm));
  line-height: 1;
  li {
    & + li {
      margin-left: var(--navigation-gap, 1rem);
    }
    a {
      color: var(--navigation-text-color, inherit);
      text-decoration: var(--navigation-text-decoration, none);
    }
  }
}

// Drawer

.drawer {
  font-feature-settings: "palt";
  height: 100%;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .3s linear 0s;
  width: 100%;
  z-index: var(--drawer-z-index, 10000);
  &[hidden] {
    display: block;
    opacity: 0;
    pointer-events: none;
  }
  &__overlay {
    backdrop-filter: blur(var(--drawer-overlay-blur, 2px));
    background-color: var(--drawer-overlay-color, rgba(0, 0, 0, .5));
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: backdrop-filter .3s linear 0s;
    width: 100%;
    z-index: 0;
    [hidden] & {
      backdrop-filter: blur(0);
    }
  }
  &__body {
    background-color: var(--drawer-bg-color, var(--bg-color));
    bottom: 0;
    box-sizing: border-box;
    color: var(--drawer-text-color, var(--text-color));
    height: 100%;
    @include invisible-scrollbar;
    left: auto;
    max-width: var(--drawer-max-width, $screen-width-md);
    overflow-y: scroll;
    padding: var(--drawer-padding, 0);
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .3s ease-out .2s;
    width: 100%;
    z-index: 1;
    [hidden] & {
      transform: translate3d(100%, 0, 0);
      transition: transform .3s ease-out 0s;
    }
    .is-header-navigation-only-drawer & {
      --drawer-padding: 0;
    }
    .is-header-navigation-toggle & {
      --drawer-padding: 4.5rem 0 0;
    }
  }
  &__stack {
    margin: var(--drawer-stack-margin, 0);
  }
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--drawer-header-padding, 1.25rem 1rem);
  }
  &__logo {
    margin: var(--drawer-logo-margin, 0);
    padding: var(--drawer-logo-padding, 0);
    a {
      display: block;
    }
    svg, img {
      display: block;
      height: var(--drawer-logo-height, 1rem);
      width: var(--drawer-logo-width, auto);
    }
  }
  &__close {
    background: transparent;
    border: 0;
    line-height: var(--drawer-close-line-height, var(--line-height-none));
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: var(--drawer-close-margin, 0);
    padding: var(--drawer-close-padding, 0);
  }
  &__menu {
    margin: var(--drawer-menu-margin, 0 0 1.5rem);
    padding: var(--drawer-menu-padding, 0 1rem);
  }
}

// Drawer navigation

.drawer-navigation {
  line-height: 1;
  li {
    & + li {
      > a {
        border-top: 1px solid currentColor;
      }
    }
    > a {
      color: inherit;
      display: block;
      font-size: var(--drawer-navigation-font-size, var(--font-size-lg));
      padding: 1rem 0;
      text-decoration: none;
      &::after {
        content: attr(title);
        display: block;
        font-size: var(--drawer-navigation-help-font-size, var(--font-size-sm));
        margin: .5rem 0 0;
      }
    }
  }
}

// Footer

.global-footer {
  background-color: var(--footer-bg-color, transparent);
  color: var(--footer-text-color, inherit);
  padding: var(--footer-padding, 2rem var(--layout-padding-x));
  z-index: 90;
  &__go-top {
    background: #999;
    bottom: 1rem;
    color: #fff;
    color: inherit;
    line-height: 1;
    padding: .25rem;
    position: fixed;
    right: 1rem;
    text-decoration: none;
  }
  &__stack {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--footer-stack-max-width, var(--screen-width-xl));
  }
  &__logo {
    margin: var(--footer-logo-margin, 0 0 1.5rem);
    padding: var(--footer-logo-padding, 0);
    a {
      color: inherit;
    }
    svg {
      fill: var(--footer-logo-color, currentColor);
    }
    svg, img {
      height: var(--footer-logo-height, 1rem);
      width: var(--footer-logo-width, auto);
    }
  }
  &__navigation {
    font-feature-settings: "palt";
    margin: var(--footer-navigation-margin, 0 0 1.5rem);
    padding: var(--footer-navigation-padding, 0);
  }
  &__copyright {
    font-feature-settings: "palt";
    font-size: var(--footer-copyright-font-size, var(--font-size-xs));
    line-height: 1;
    margin: var(--footer-navigation-margin, 0);
    padding: var(--footer-copyright-padding, 0);
  }
}

// Footer navigation

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--footer-navigation-font-size, var(--font-size-sm));
  line-height: 1;
  margin: -.5rem 0;
  li {
    margin: .5rem 0;
    > a {
      border-left: 1px solid currentColor;
      border-right: 1px solid currentColor;
      color: inherit;
      display: block;
      margin-left: -1px;
      padding: .125rem .75rem;
      text-decoration: none;
    }
  }
}

// Breadcrumb

.breadcrumb {
  box-sizing: border-box;
  font-size: var(--breadcrumb-font-size, var(--font-size-sm));
  line-height: 1;
  margin: 0 auto;
  padding: var(--breadcrumb-outer-padding, .75rem 1rem);
  &__inner {
    margin: 0 auto;
    max-width: var(--screen-width-xl);
  }
  &__list {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    @include invisible-scrollbar;
  }
  &__item {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    & + li {
      &::before {
        content: "/";
        margin: 0 .5rem 0;
      }
    }
    a {
      display: inline-block;
      color: inherit;
      text-decoration: underline;
    }
  }
}

// Loading

.loading {
  align-items: center;
  background-color: var(--loading-bg-color, var(--bg-color));
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .3s linear 0s;
  width: 100%;
  z-index: 20000;
  [data-loading-state=loaded] & {
    opacity: 0;
    pointer-events: none;
  }
  &__meter {
    background: var(--loading-meter-bg-color, var(--text-color));
    height: 1px;
    justify-self: flex-start;
    transform: scale(0, 1);
    transform-origin: 0 0;
    width: 100%;
    [data-loading-state=loading] & {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-name: loading-progress-bar;
      animation-timing-function: linear;
    }
    [data-loading-state=loaded] & {
      transform: scale(1, 1);
    }
  }
}

@keyframes loading-progress-bar {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}
