@use './utilities' as *;
@use './settings';

:root {
  // Color

  --color-white: #ffffff;
  --color-black: #000000;
  --color-rich-black: #191818;

  // Color scheme

  --bg-color: var(--color-white);
  --text-color: var(--color-rich-black);

  &.is-user-color-scheme {
    @include dark {
      --bg-color: var(--color-rich-black);
      --text-color: var(--color-white);
    }
  }

  // Font family

  --font-family-default: var(--font-family-jp-sans);

  --font-family-sans:
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji",
  sans-serif;

  --font-family-serif:
  "Times New Roman",
  Times,
  Georgia,
  Cambria,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji",
  serif;

  --font-family-jp-sans:
  "游ゴシック体",
  YuGothic, "Yu Gothic",
  "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
  "メイリオ", Meiryo,
  "MS Pゴシック", "MS PGothic",
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji",
  sans-serif;

  --font-family-jp-serif:
  "游明朝体", YuMincho, "Yu Mincho",
  "ヒラギノ明朝 Pro", "Hiragino Mincho Pro",
  "MS P明朝", "MS PMincho",
  "Times New Roman",
  Times,
  Georgia,
  Cambria,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji",
  serif;

  --font-family-display: var(--font-family-sans);

  --font-family-monospace: "Source Code Pro", "Monaco", "Courier New", "ＭＳ 明朝", "MS Mincho", "Osaka-Mono", monospace;

  // Screen width

  --screen-width-xs: #{map-get(settings.$screen-widths, xs)};
  --screen-width-sm: #{map-get(settings.$screen-widths, sm)};
  --screen-width-md: #{map-get(settings.$screen-widths, md)};
  --screen-width-lg: #{map-get(settings.$screen-widths, lg)};
  --screen-width-xl: #{map-get(settings.$screen-widths, xl)};
  --screen-width-2xl: #{map-get(settings.$screen-widths, 2xl)};

  --screen-max-width: #{map-get(settings.$screen-widths, 2xl)};
  --screen-min-width: #{map-get(settings.$screen-widths, xs)};

  // Font size

  --font-size-root: clamp(
    16px,
    calc(16 / 640 * 100vw),
    16px
  );

  --font-size-min: .625rem;
  --font-size-xs: .75rem;
  --font-size-sm: .875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  // Font weights

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
