@use './reset';
@use './variables';
@use './utilities' as *;
@use './settings';
@use './fonts';
// @use './tailwindcss'

/**
 * 要素のデフォルトスタイル
 */

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-jp-sans);
}

/**
 * レイアウト要素のスタイル
 */

.global-navigation {
  font-family: var(--font-family-display);
  ul {
    display: flex;
    li {
      & + li {
        margin-left: 2em;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
