extends /layouts/default.pug

block props
  -
    root = '..'
    robots = 'noindex, nofollow'
    url += '/contact/complete.html'
    title = `Inquiry completed - ${Config.name}`

block head

block main
  h1 Inquiry completed
  div
