extends /layouts/default.pug

block props
  -
    root = '..'
    robots = 'noindex, nofollow'
    url += '/contact/complete.html'
    title = `お問い合わせ完了 - ${Config.name}`
    breadcrumbList = [
      {
        label: 'お問い合わせ',
        url: `${root}/contact/`
      },
      {
        label: 'お問い合わせ完了'
      },
    ]

block head

block main
  +page-title() お問い合わせ完了
  +container('lg')
    +text-content()
