extends /layouts/default.pug

block props
  -
    root = '..'
    url += '/contact/'
    title = `お問い合わせ - ${Config.name}`
    breadcrumbList = [
      {
        label: 'お問い合わせ'
      },
    ]

block head

block main
  +page-title() お問い合わせ
  +container('lg')
    +text-content()
