extends /layouts/default.pug

block props
  -
    root = '..'
    assetPath = `${root}/assets`
    url += '/contact/'
    title = `Contact - ${Config.name}`

block head

block main
  h1 Contact
  div
