extends /layouts/default.pug

block props
  -
    root = '.'
    headerPosition = 'fixed' // 'relative' | 'sticky' | 'fixed'

block head

block main

  +cover('full')
    +cover-bg
      +image('mountain.jpeg', '')(loading='lazy')
    +cover-content
      h1
        +cushion The Boilerplate For A Static Website.
      p
        +cushion 静的ウェブサイトを制作するときの雛形。

  +cover('16/9')
    +cover-bg
      +image('mountain.jpeg', '')(loading='lazy')
    +cover-content
      h1
        +cushion 16:9のカバー

  +spacer('2rem')

  +swiper()
    +swiper-item
      +container('sm')
        +image(`illustrations/kaiju.png`)(loading='lazy', alt='怪獣')
    +swiper-item
      +container('sm')
        +image(`illustrations/kaiju.png`)(loading='lazy', alt='怪獣')
    +swiper-item
      +container('sm')
        +image(`illustrations/kaiju.png`)(loading='lazy', alt='怪獣')

  +spacer('2rem')

  +container
    +button(`${root}`, 'arrow-narrow-right') ボタンリンク

  +spacer('2rem')

  +container('', '768px')()
    +text-content
      h2
        +icon('brand-github')
        | About

      +table('果物の売れ行き',
        ['種類', '1月', '2月', '3月'],
      [
        ['りんご', '100', '200', '400'],
        ['みかん', '100', '200', '400'],
        ['ぶどう', '100', '200', '400'],
      ])
