extends /layouts/default.pug

block variable
  -
    root = '.'

block head
  script
    -
      // JSON LD

block main
  +article('article', 'greeting')
  +icon('hoge')
  +icon('brand-github')
  +icon('brand-github')
