extends /layouts/default.pug

block props
  -
    title = `個人情報の取り扱いについて - ${Config.name}`
    root = '..'
    url += '/privacy-policy/'
    breadcrumbList = [
      {
        label: '個人情報の取り扱いについて'
      },
    ]

block head

block main
  +page-title() 個人情報の取り扱いについて
  +container('lg')
    +text-content
      +content('page', 'privacy-policy')
