button.drawer-trigger(data-drawer-trigger, aria-labeledby="drawer-trigger-label")
  .drawer-trigger__icon
    span
  span.drawer-trigger__text#drawer-trigger-label
    span.drawer-trigger__text__open メニュー
    span.drawer-trigger__text__close 閉じる
