header#header.header
  .header__inner
    .header__logo Website Logo
    .header__navigation
      +menu('main-menu-items')(class='global-navigation')
    .header__brawer
      button.header__drawer__trigger(data-drawer-trigger) Menu
