header#global-header.global-header
  .global-header__stack

    if headerNavigationMode === 'only-drawer'
      .global-header__logo(data-drawer-inert)
        +link(`${root}`)(aria-label="ホーム")
          +logo()
    else
      .global-header__logo
        +link(`${root}`)(aria-label="ホーム")
          +logo()

    if headerNavigationMode !== 'only-drawer'
      .global-header__navigation(data-drawer-inert)
        +menu('main-menu-items')(class='header-navigation')

    if headerNavigationMode !== 'no-drawer'
      button.global-header__drawer(data-drawer-trigger, aria-labeledby="drawer-trigger-label")
        .global-header__drawer__icon
          span
        span.global-header__drawer__text#drawer-trigger-label
          span.global-header__drawer__text__open メニュー
          span.global-header__drawer__text__close 閉じる

  //- Drawer
  if (headerNavigationMode !== 'no-drawer' && headerNavigationMode !== 'only-drawer')
    include /partials/drawer.pug

//- Drawer
if headerNavigationMode === 'only-drawer'
  include /partials/drawer.pug
