mixin container(maxWidth='none', isCentered=true)
  -
    const baseClass = 'component-container'
  div(class=`
    ${baseClass}
    ${isCentered ? 'is-centered' : ''}
    is-width-${maxWidth}
  `)&attributes(attributes)
    block
