extends /layouts/default.pug

block props
  -
    title = `特定商取引法に基づく表示 - ${Config.name}`
    root = '..'
    url += '/specified-commercial-transaction-law/'
    breadcrumbList = [
      {
        label: '特定商取引法に基づく表示'
      },
    ]

block head

block main
  h1 特定商取引法に基づく表示
  +container()
