extends /layouts/default.pug

block props
  -
    title = `FAQ - ${Config.name}`
    root = '..'
    url += '/faq/'
    breadcrumbList = [
      {
        label: 'FAQ'
      },
    ]

block head

block main
  +page-title() よくある質問
  +container('lg')
    +text-content()

