extends /layouts/default.pug

block props
  -
    title = `FAQ - ${Config.name}`
    root = '..'
    url += '/faq/'
    breadcrumbList = [
      {
        label: 'FAQ'
      },
    ]

block head

block main
  h1 よくある質問
  div
